.highlight {
  border: none;
  padding: 2px 0;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}

.active-highlight {
  border-radius: 4px;
  padding: 2px 4px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}

.linked-tag {
  position: absolute;
  top: -1.8em;
  left: 0;
  font-size: 10px;
  background-color: #000;
  color: #fff;
  padding: 0px 4px;
  border-radius: 4px;
  font-weight: 500;
  white-space: nowrap;
  z-index: 2;
}
